# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
[Bb]in/
[Oo]bj/

# user files
*.csproj.user
*.suo
*.ide

# mstest test results
TestResults
/.vs/EssentialCSharp/DesignTimeBuild/.dtbcache.v2
/.vs/EssentialCSharp/v17/.futdcache.v1
/.vs/EssentialCSharp/v17/fileList.bin
/EssentialCSharp/.vs/EssentialCSharp5/config/applicationhost.config
/EssentialCSharp/UpgradeLog.htm
